<style>
  .list_con_box ul li{ margin: 10px 0}
  .list_con_box ul{margin-bottom: 20px}
</style>
<div class="list_con_box w1000 clearfix" style="width: 600px">
  <ul>
    <li>
      <label class="ui-label">姓名</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">性别</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">出生年月</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">国籍</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">血型</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">手机</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">居住地</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">电子邮箱</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">通信地址</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">邮编</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">紧急联系人</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">紧急联系电话</label><input type="text" class="ui-text" style="">
    </li>
    <li>
      <label class="ui-label">参赛项目</label><select style="width: 490px;border: 1px solid #ccc;height: 35px;border-radius: 5px"><option>参赛项目</option><option>全程马拉松（42.195KM）</option><option>10KM</option><option>5KM</option></select>
    </li>
    <li>
      <label class="ui-label">监护人电话</label><input type="text" class="ui-text" style="">
    </li>
    <li><input type="submit" value="报名" class="ui-sub"></li>

  </ul>

</div>