.address{
    background: #fff;
    font-size: 14px;
    margin: 10px;
    line-height: 35px;
}
.address ul li{
    margin:0 10px;
    border-bottom: 1px solid #d5d5d5;
    padding:  10px;
}
.address ul li label{
    display: block;
    float: left;
    width: 80px;
}
.address ul li .ui-textaddress{
    display: block;
    height: 35px;
    padding: 0 5px;
    width: 230px;
    border: none;
}
.address ul li .ui-select{
    display: block;
    float: left;
    height: 35px;
    border: none;
    margin: 0 10px;
    padding-right: 10px;
}
.address ul li span{
    width: 65px;
    height: 35px;
    background: url("../../image/btn_noaddress@2x.png") no-repeat;
    background-size: 65px 35px;
    display: block;
    float: left;
}
.address ul li span.seaddress{
    width: 65px;
    height: 35px;
    background: url("../../image/btn_address@2x.png") no-repeat;
    background-size: 65px 35px;
    display: block;
    float: left;
}
@media screen and (max-width : 320px) {
    .address ul li .ui-textaddress{
        display: block;
        height: 35px;
        padding: 0 5px;
        width: 180px;
        border: none;
    }
    .address ul li .ui-select{
        display: block;
        float: left;
        height: 35px;
        border: none;
        margin: 0 5px;
        padding-right: 0px;
        font-size: 12px;
    }
}

.address ul p{
    color: #b4b4b4;
    font-size: 12px;
    padding: 10px;
    padding-bottom: 50px;
}
.ui-sub{
    width: 96%;
    height:45px;
    border: none;
    background: #6fb02f;
    color: #fff;
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 5px;
}
.addAddress{
    display: none;
    position: fixed;
    top: 50px;
    width: 100%;

}
@media screen and (min-width : 321px) and (max-width : 413px) {
    .address ul li .ui-textaddress{
        display: block;
        height: 35px;
        padding: 0 5px;
        width: 220px;
        border: none;
    }
    .address ul li .ui-select{
        display: block;
        float: left;
        height: 35px;
        border: none;
        margin: 0 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}