h3{
   font-size: 14px; font-weight: normal; padding: 0 10px; line-height: 35px; color: #656464;
 }

.choosedcity{
  height: 50px;
  width: 100%;
  background: #fff;
}
.choosedcity i{
  display: block;
  line-height: 30px;
  width: 80px;
  border: 1px solid #ebeaea;
  height: 30px;
  margin-top: 9px;
  float: left;
  margin-left: 10px;
  color: #656464;
  font-size: 14px;
  font-style: normal;
  text-indent: 10px;
  background: url("../../image/btn_gou@2x.png") no-repeat;
  background-size: 24px 24px;
  background-position:50px 3px ;
  border-radius: 5px;
}
.hotcity,.othercity,.commity{
  background: #fff;
}
.hotcity ul li{
  display: block;
  float: left;
  margin: 10px 8px;
  width:60px;
  line-height: 30px;
  border: 1px solid #ebeaea;
  text-align:center;
  font-size: 14px;
  border-radius: 5px;

}
.hotcity ul li a{
  color: #656464;
}
.othercity,.commity{
  padding: 5px 0 10px 0;
}
.othercity ul li a{
  color: #656464;
  display: block;
}
.othercity ul li{
  margin: 0 10px;
  line-height: 30px;
  border-bottom: 1px solid #ebeaea;
  font-size: 14px;

}
.commity ul li{
  margin: 0 10px;
  border-bottom: 1px solid #ebeaea;
  font-size: 14px;
  color: #656464;
  padding: 10px 0;
}
.commity ul li p{
  line-height:15px;
  color: #656464;
  display: block;
  float: left;
}
.commity ul li strong{
  display: block;
  height: 15px;
  width: 15px;
  float: left;
  background: url("../../image/btn_gou@2x.png") no-repeat ;
  background-size: cover;
  margin-left: 10px;
  text-indent: -999px;
}
.commity ul li span{
  line-height: 12px;
  font-size: 12px;
  color: #969696;
}