.sj{
    width: 96%;
    border: none;
    display: block;
    line-height: 35px;
    margin: 0 auto;

}
body{
    position: relative;
}
.breadnav{
    font-size: 14px;
    padding:5px;
    background: #fff;
}
.breadnav ul li{
    float: left;
    padding: 0 2px;
    line-height: 30px;
}
.breadnav ul li a{
    color: #656464;
}
.ui-main{
    margin: 5px auto 0 auto;
    width: 100%;
    background: #fff;
}
.ui-main h4{
    border-bottom:2px solid #6fb02f;
    font-size: 12px;
    font-weight: normal;
    line-height:30px;
    text-align: center;
    color: #6fb02f;
}
.date dl{
    width: 96%;
    margin: 0 auto;

}
.date dl dt{
    line-height: 25px;
    font-size: 14px;
    padding:10px  0 0 5px
}
.date dl  dd{
    float: left;
    font-size: 12px;
    text-align: center;
    margin:5px 1px;
}
.date dl  dd a{
    color: #656464;
    border: 1px solid #787777;
    line-height: 30px;
    width: 112px;
    padding: 0 8px;
    border-radius: 5px; display: block;
}
.date dl  dd a.active{
    color: #fff;
    background: #6fb02f;
    border: 1px solid #6fb02f;
}
.content{
    border: 1px solid #ccc;
    width: 96%;
    margin: 10px auto;
}
.content img{
    width: 96%;
    margin: 2% auto;
    display: block;
}
.content a{
    color: #000;
}
.content h2{
 font-weight: normal;
    padding-bottom: 5px;
    padding-left: 10px;

}
.no{
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 15px;
   text-align: center;
}
.content strong{
    display: block;
    margin-left: 2%;
    color: #6fb02f;
    font-size: 1.5em;
    width: 50%;
    margin-right: 0;
    float: left;
    margin-bottom:2%;
    line-height: 30px;
}
.content a.link{
    float: right;
    display: block;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #6fb02f;
    color: #fff;
    margin-top: 2px;
    border-radius: 3px;
    margin-right: 2%;
}
.tip{
    color: #656464;
    font-size: 12px;
    width: 96%;
    margin: 0 auto;
    padding-bottom: 10px;

    position: relative;
}
.tip a{
    display: block;
    width: 50px;
    height: 50px;
    background: url("../../image/btn_shop@2x.png") no-repeat center;
    background-size: 50px 50px;
    position: absolute;
    bottom: 20px;right: 10px;
    text-indent: -999px;
}
.scroll{
    overflow-y:hidden;;
}
.pay{
    position: absolute;
    bottom: -0px;
    left: 0;

    background: #fff;
    width: 100%;
    padding-top: 10px;
    display: none;

}
.pay dl dt{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.pay dl dt img{
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 10px;
}
.pay dl dt .des{
    float: left;
    font-size: 12px;
}
.pay dl dt .des p{
    color: #444444;
    font-size: 14px;
    line-height: 25px;
    width: 220px;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.pay dl dt .des strong{
    display: block;
    color: #6fb02f;
    font-size: 16px;
    line-height: 25px;
}
.pay dl dt span{
    display: block;
    float: right;
    margin-right: 10px;
    width: 30px;
    height:30px ;
    background: url("../../image/btn_close@2x.png") no-repeat;
    background-size: 30px 30px;
    margin-top: 10px;
}
.pay dl dd{
    font-size: 14px;
    clear: both;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.pay dl dd label{
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 2px;

}
.pay dl dd i{
    display: block;
    font-style: normal;
    float: right;
    margin-right: 20px;margin-top: 2px;

}
.pay dl dd strong{
    display: block;
    font-weight: normal;
    float: right;
    margin-right: 10px;margin-top: 2px;
}

.pay dl dd div{
    float: right;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin:  2px;
    color: #565656;
}
.pay dl dd a.next{
    width: 96%;
    display: block;
    margin: 0 auto;
    background: #6fb02f;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}
@media screen and (max-width : 320px) {
    .pay dl dt .des p{
        width: 180px;
    }
    .date dl  dd a{
        color: #656464;
        border: 1px solid #787777;
        line-height: 30px;
        width: 82px;
        padding: 0 8px;
        border-radius: 5px; display: block;
    }
}
@media screen and (min-width : 321px)  and (max-width : 414px) {
    .pay dl dt .des p{
        width: 180px;
    }
    .date dl  dd a{
        color: #656464;
        border: 1px solid #787777;
        line-height: 30px;
        padding: 0 ;
        border-radius: 5px;
        width: auto;
        display: block;

    }
    .date dl  dd {
        width: 32%;
    }
}