.ui-top{
    height: 100px;
    background: #fff;
    padding: 05px 0;
}
.ui-top img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin: 10px 20px;
}
.ui-top .des{
    float: left;
    display: inline;
    margin-left: 20px;
    color: #656464;
}
.ui-top .des a{
    color: #656464;
}
.ui-top .des h2{
    font-weight: normal;

    font-size: 18px;
    display: block;
}
.ui-top .des p{
    font-size: 14px;
    padding-top: 5px;  line-height: 80px;
}
.ui-main ul li{
    margin: 10px;
    position: relative;
}

.ui-main ul li span{
    display: block;
    width: 54px;
    height: 30px;
    background: url("../../image/btn_shijian@2x.png") no-repeat;
    background-size: 54px 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    float: left;
    font-size: 14px;
    margin-top: 5px;

}
.ui-main ul li span.nosele{
    display: block;
    width: 54px;
    height: 30px;
    background: url("../../image/btn_shijian1@2x.png") no-repeat;
    background-size: 54px 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    float: left;
    font-size: 14px;
    margin-top: 5px;

}
.ui-main ul li .content{
    width:310px;
    padding: 5px;
    float: right;
    line-height: 30px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 15px;
    color: #656464;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background:#fff;

}
.sj{
    width: 0;
    height: 0;
    border-top:5px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 5px solid transparent;
   position: absolute;
    right: 320px;top: 15px;
}
.check{
    background: #b4b4b4;
    width: 200px;
    height: 45px;
    line-height: 45px;
    display: block;
    margin: 30px auto 0 auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

@media only screen and (min-width: 321px) and (max-width: 375px){
.ui-main ul li .content{
    width:270px;
    padding: 5px;
    float: right;
    line-height: 30px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 15px;
    color: #656464;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background:#fff;
}
    .sj{
        width: 0;
        height: 0;
        border-top:5px solid transparent;
        border-right: 10px solid #fff;
        border-bottom: 5px solid transparent;
        position: absolute;
        right: 280px;top: 15px;
    }
}

@media only screen and (man-width: 320px) {
    .ui-main ul li .content{
        width:220px;
        padding: 5px;
        float: right;
        line-height: 30px;
        font-size: 12px;
        border-radius: 10px;
        margin-left: 15px;
        color: #656464;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background:#fff;
    }
    .sj{
        width: 0;
        height: 0;
        border-top:5px solid transparent;
        border-right: 10px solid #fff;
        border-bottom: 5px solid transparent;
        position: absolute;
        right: 230px;top: 15px;
    }
}