.ui-top{
    height: 100px;
    background: #fff;
    padding: 05px 0;
}
.ui-top img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin: 10px 20px;
}
.ui-top .des{
    float: left;
    display: inline;
    margin-left: 20px;
    color: #656464;
}
.ui-top .des a{
    color: #656464;
}
.ui-top .des h2{
    font-weight: normal;

    font-size: 18px;
    display: block;
}
.ui-top .des p{
    font-size: 14px;
    padding-top: 5px;  line-height: 80px;
}
.title{
    line-height: 30px;
    text-align: center;
    padding: 5px 0;
}
.sj{
    text-align: center;
    line-height: 20px;
    padding-top: 5px;
    font-size: 12px;    background: #fff;
}
.content{
    line-height: 25px;
    background: #fff;
    padding: 0 10px 10px 10px;
    font-size: 14px
}