.ui-address{
    background: #fff;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.ui-address .des{
    float: left;
    width: 370px;
    text-indent: 10px;
    color: #656464;
}

.ui-address i{
    display: block;
    font-style: normal;
    float: left;
}
.ui-address strong{
    display: block;
    float: right;
    font-weight: normal;
}
.ui-address strong a{
    color: #656464;
}
.ui-address p{
    width: 100%;
    display: block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    font-size: 12px;
    color: #969696;
}
.ui-address a.to{
    display: block;
    width: 17px;
    height: 25px;
    background: url("../../image/btn_to@2x.png") no-repeat;
    background-size: 17px 25px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.ui-main{
    width: 100%;
    background: #fff;
    height: 200px;
}
.ui-main h2{
    padding: 0 10px;
    font-size: 14px;
    background: #fff;
    font-weight: normal;
    line-height: 30px;
    color: #656464;
    border-bottom: 1px solid #d6d5d5;
}

.ui-list{
    border-top: 1px solid #d6d6d6;
    margin-top: 10px;
    background: #fff;
}
.ui-list dl dt{
    line-height: 35px;
    border-bottom: 1px solid #d6d6d6;
}
.ui-list dl dt span{
    display: block;
    float: left;
    font-size: 14px;
    text-indent: 10px;
    color: #656464;

}
.ui-list dl dt i{
    display: block;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color:#f1590d;
    font-style: normal;

}
.ui-list dl dd{
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
}
.ui-list dl dd strong{
    display: block;
    width: 20px;
    height: 20px;
    background: none;
    border: 1px solid #ccc !important;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 50%;
}
.ui-list dl dd strong.sele{
    background: url("../../image/btn_select@2x.png") no-repeat;
    background-size: 20px 20px;
    border:1px solid #6fb02f !important;
}
.ui-list dl dd strong.dele{
    background: none;
    border: 1px solid red !important;
}
.ui-list dl dd img{
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 10px;
}
.ui-list dl dd p{
    width: 260px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
    display: block;
    float: left;
    color: #444444;
}
.ui-list dl dd .des{
    line-height: 30px;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    color: #656464;
}
.fh{
    float: right;
    display: block;
}
.ui-list dl dd .des i,.ui-list dl dd .des span{
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 14px;
    float: right;

}
.ui-list dl dd .des span{
    text-align: right;
    width: 100%;
}
.ui-list dl dd .des .add{
    display: none;
}
.ui-list dl dd .des .add .jian,.ui-list dl dd .des .add .num,.ui-list dl dd .des .add .jia{
    float: left;
    display: block;
    width: 20px;
    text-align: center;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
}
.ui-yf{
    padding: 10px ;
    font-size: 14px;
    background: #fff;
    line-height: 20px;
    border-bottom: 1px solid #d6d6d6;
}
.ui-yf strong{
    display: block;
    font-weight: normal;
    float: left;
    color: #656464;
}.ui-yf i{
    display: block;
    float: right;
    font-style: normal;color: #656464;
 }
 .ui-yf p{
     font-size: 12px;
     color: #969696;
 }
.ui-message{
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}
 .ui-message textarea{
     width: 96%;
     display: block;
     margin: 0 auto;
     font-size: 14px;
     padding: 2px;
     border: 1px solid #c5c5c5;
     border-radius: 5px ;
     line-height: 20px;
 }
.ui-hj{
     padding: 10px;
     background: #fff;
margin-bottom:10px
 }
.ui-hj strong{
    display: block;
    font-weight: normal;
    float: left;
    font-size: 14px;
    color: #656464;
}
.ui-hj i{
    display: block;
    float: right;
    font-style: normal;color: #6fb02f;
}
.ui-hj{
    padding: 10px;
    background: #fff;
}
.ui-hj strong{
    display: block;
    font-weight: normal;
    float: left;
    font-size: 14px;
    color: #656464;
}
.ui-hj i{
    display: block;
    float: right;
    font-style: normal;color: #6fb02f;
}



.ui-yh{
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.ui-yh strong{
    display: block;
    font-weight: normal;
    float: left;
    font-size: 14px;
    color: #656464;
}
.ui-yh i{
    display: block;
    float: right;
    font-style: normal;color: #6fb02f;
}
.ui-yh{
    padding: 10px;
    background: #fff;
}
.ui-yh strong{
    display: block;
    font-weight: normal;
    float: left;
    font-size: 14px;
    color: #656464;
}
.ui-yh a{
    display: block;
    float: right;
    font-style: normal;
    padding-right: 20px;
    background: url("../../image/btn_to@2x.png") no-repeat right center;
    color: #b5b4b4;
    font-size: 14px;
    background-size: 12px 20px;

}
.ui-totle{
    padding: 10px ;
    background: #fff;
}
.ui-totle u{
    text-decoration: none;
}
.ui-totle b{
    font-weight: normal;
}
.ui-totle i{
    font-style: normal;
}
.ui-totle strong{
    display: block;
    text-align: center;
    font-weight: normal;
    line-height: 25px;
    color: #656464;
}
.ui-totle p{
    color: #6fb02f;
    text-align: center;
    font-weight: normal;
}


.ui-pay {
    background: #fff;
    margin-top: 10px;
}
.ui-pay dl dt{
    border-bottom: 1px solid #d5d5d5;
    line-height: 30px;
    padding:  10px;

}
.ui-pay dl dd{
    border-bottom: 1px solid #d5d5d5;
    padding: 10px ;
    font-size: 14px;
}
.ui-pay dl dd img{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
}
.ui-pay dl dd p{
    display: block;
    float: left;
    line-height: 40px;
    margin-left: 10px;
}
.ui-pay dl dd a{
    display: block;
    width: 98%;
    line-height: 40px;
    text-align: center;
    background: #6fb02f;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}
.ui-pay dl dd span{
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    margin-top: 5px;
    border-radius: 50%;
    border: 5px solid #ccc;
}
.ui-pay dl dd span.se{
    width: 30px;
    height: 30px;
    background:#6fb02f;
    background-size: 30px 30px;
    display: block;
    float: right;
    margin-top: 5px;
    border-radius: 50%;
    border:none
}


.scroll{
    overflow-y:hidden;;
}
.pay{
    position: fixed;
    bottom: -0px;
    left: 0;

    background: #fff;
    width: 100%;
    padding-top: 10px;
    display: none;

}
.pay dl dt{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;   text-align: center;
    position: relative;
    line-height: 30px;
}

.pay dl dt span{
    display: block;
    width: 30px;
    height:30px ;
    background: url("../../image/btn_close@2x.png") no-repeat;
    background-size: 30px 30px;
    position: absolute;
    right: 10px;
    top:0
}
.pay dl dd{
    font-size: 14px;
    clear: both;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;position: relative;
}
.pay dl dd .ui-text{
    width: 96%;
    border: 1px solid #d5d5d5;
    display: block;
    margin: 0 auto;
    line-height: 35px;
    padding: 0 5px;
    border: none;


}
.pay dl dd .dh{
    display: block;
    width: 55px;
    height: 35px;
    position: absolute;
    right: 2%;
    top:10px;
    border-left: 1px solid #d5d5d5;
    text-align: center;
    line-height: 35px;
    color: #656464;
}
.pay dl dd i{
    display: block;
    font-style: normal;
    float: right;
    margin-right: 20px;margin-top: 2px;

}
.pay dl dd span{
    width: 20px;
    height: 20px;
    background: url("../../image/btn_nose@2x.png") no-repeat;
    background-size: 20px 20px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.pay dl dd span.se1{
    width: 20px;
    height: 20px;
    background: url("../../image/btn_se@2x.png") no-repeat;
    background-size: 20px 20px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.pay dl dd p{
    display: block;
    float: left;
    margin-left: 10px;
    line-height: 40px;
    color: #656565;
}
.pay dl dd .des{
    display: block;
    float: right;
    margin-right: 10px;
    color: #656565;
}
.pay dl dd .des .mo{
    color: #656565;
}
.pay dl dd a.next{
    width: 96%;
    display: block;
    margin: 0 auto;
    background: #6fb02f;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}
@media screen and (max-width : 320px) {
    .pay dl dt .des p{
        width: 180px;
    }
    .ui-address .des{
        float: left;
        width: 280px;
        text-indent: 10px;
        color: #656464;
    }
    .ui-list dl dd p{
        width: 180px;
        font-size: 14px;
        line-height: 30px;
        margin-left: 10px;
        display: block;
        float: left;
        color: #444444;
    }
}
.yy{
    display: none;
    position: absolute;
    top: 0;
    background: #000;
    height: 100%;opacity: 0.8;
    width: 100%;
}
@media screen and (min-width : 321px) and (max-width :375px) {
    .ui-address .des{
        float: left;
        width: 340px;
        text-indent: 10px;
        color: #656464;
    }
    .ui-list dl dd p{
        width:220px;
        font-size: 14px;
        line-height: 30px;
        margin-left: 10px;
        display: block;
        float: left;
        color: #444444;
    }
}
.ui-state{
    background: #7b859b;
    color: #fff;


    padding: 10px;
}
.ui-state h1{
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
}
.ui-state p{
    font-size: 12px;
    line-height: 20px;

}
