.breadnav{
  font-size: 14px;
  padding:5px;
  background: #fff;
}
.breadnav ul li{
  float: left;
  padding: 0 2px;
  line-height: 30px;
}
.breadnav ul li a{
  color: #656464;
}
.breadnav ul li.yy{
  float: right;
  display: inline;

}
.breadnav ul li.yy .yycheck{
  height: 20px;
  width:50px;
  border: 1px solid #81b948;
  border-radius: 10px;
  display: block;
  margin-top: 4px;
  text-align: center;
  line-height: 20px;
  color: #6fb02f;
  font-size: 12px;
}
.ui-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.ui-bottom ul{
  display: -moz-box;
  display: -webkit-box;
  display: box;
  padding: 15px 0;
  background: #fff;
}
.ui-bottom ul li{
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
  font-size: 14px;
  width: 100px;
  text-align: center;
  border-right: 1px solid #ccc;
  line-height: 15px;
}
.ui-bottom ul li a{
  display: block;
  color: #444444;
}
.ui-main{
  margin:10px;
  background: #fff;
  padding: 10px;
  font-size: 14px;
}
.ui-main .title{
  text-align: center;
  color: #000;
  font-size: 16px;
  line-height: 30px;
}
.ui-main .time{
  text-align: center;
  color: #656464;
  font-size: 12px;
  line-height: 20px;
}
.ui-main .content{

  color: #646464;
  font-size: 14px;
  line-height: 25px;
}


