.breadnav{
  font-size: 14px;
  padding: 5px;
  background: #fff;
}
.breadnav ul li{
  float: left;
  padding: 0 2px;
  line-height: 30px;
}
.breadnav ul li a{
  color: #656464;
}
.breadnav ul li.yy{
  float: right;
  display: inline;

}
.breadnav ul li.yy .yycheck{
  height: 20px;
  width:50px;
  border: 1px solid #81b948;
  border-radius: 10px;
  display: block;
  margin-top: 4px;
  text-align: center;
  line-height: 20px;
  color: #6fb02f;
  font-size: 12px;
}
.ui-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.ui-bottom ul{
  display: -moz-box;
  display: -webkit-box;
  display: box;
  padding: 15px 0;
  background: #fff;
}
.ui-bottom ul li{
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
  font-size: 14px;
  width: 100px;
  text-align: center;
  border-right: 1px solid #ccc;
  line-height: 15px;
}
.ui-bottom ul li a{
  display: block;
  color: #444444;
}
.ui-main{
  margin:10px;
  margin-bottom: 40px;
}
.ui-main ul li {
  font-size: 12px;
  line-height: 20px;
  padding:5px  10px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 10px;
}
.ui-main ul li h2{
  font-weight: normal;
  padding-top: 5px;
  color: #333232;
  font-size: 14px;
}
.ui-main ul li p{
  color: #787878;
}
.check{
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin:40px auto;
  display: block;
  color: #fff;
  background: #656464;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 80px;
}


