.breadnav{
  font-size: 14px;
  padding: 5px;
  background: #fff;
}
.breadnav ul li{
  float: left;
  padding: 0 2px;
  line-height: 30px;
}
.breadnav ul li a{
  color: #656464;
}
.breadnav ul li.yy{
  float: right;
  display: inline;

}
.breadnav ul li.yy .yycheck{
  height: 20px;
  width:50px;
  border: 1px solid #81b948;
  border-radius: 10px;
  display: block;
  margin-top: 4px;
  text-align: center;
  line-height: 20px;
  color: #6fb02f;
  font-size: 12px;
}
.ui-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;

}
.ui-bottom ul{
  display: -moz-box;
  display: -webkit-box;
  display: box;
  padding: 15px 0;
  background: #fff;
}
.ui-bottom ul li{
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
  font-size: 14px;
  width: 100px;
  text-align: center;
  border-right: 1px solid #ccc;
  line-height: 15px;
}
.ui-bottom ul li a{
  display: block;
  color: #444444;
}
.ui-main{
  margin:10px;
  background: #fff;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-radius: 8px;
}
.ui-main h2{
  font-size: 16px;
  font-weight: normal;
  padding:20px 20px 20px 20px;
  margin: 0;
}
.ui-main img{
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.ui-main .des{
  float: left;
  width: 155px;
}
.ui-main .des strong{
  font-weight: normal;
  line-height: 30px;
  color: #000;
  font-size: 18px;
  padding-top: 10px;
  display: block;
}
.ui-main .des p{
  font-weight: normal;
  line-height: 30px;
  font-size: 14px;
}
.ui-main span{
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  float: right;
  background: url("../../image/btn_iphone@2x.png") no-repeat;
  background-size: 50px 50px;
  margin-right: 20px;
}