.ui-top{
  width: 96%;
  background: #6fb92c;
  margin: 10px auto;
  color: #fff;
  line-height: 40px;
  font-size: 22px;
  text-align: center;
}
.ui-main{
  border-left: 1px solid #606060;
  width: 80%;
  margin: 0 auto;
  text-indent: 15px;

}
.ui-main dl{
  margin-top: 10px;
}
.ui-main dl dt{
  border-bottom: 1px solid #ccc;
  line-height: 36px;
  font-size: 18px;
  position: relative;
}
.ui-main dl dt span{
  height: 36px;
  width: 36px;
  display: block;
  border-radius: 50%;
  position: absolute;
  background: #000;
  right: 0;
  bottom:-18px;color: #fff;
  font-size: 12px;text-indent: 0;
  text-align: center;
}
.ui-main dl dd{
  font-size: 14px;
  line-height: 30px;

}
.ui-main dl dd a{
  color: #a5a7aa;
  display: block;
}
.blueDt{
  border-bottom: 1px solid #21c7f4 !important;
  color: #21c7f4;
}
.blueSpan{
  background: #21c7f4 !important;
}
.redDt{
  border-bottom: 1px solid #ff341a !important;
  color: #ff341a;
}
.redSpan{
  background: #ff341a !important;
}
.greenDt{
  border-bottom: 1px solid #b4d300 !important;
  color: #b4d300;
}
.greenSpan{
  background: #b4d300 !important;
}
.yellowDt{
  border-bottom: 1px solid #ffcf00 !important;
  color: #ffcf00;
}
.yellowSpan{
  background: #ffcf00 !important;
}
.pinkDt{
  border-bottom: 1px solid #ff007d !important;
  color: #ff007d;
}
.pinkSpan{
  background: #ff007d !important;
}
.ui-bottom{
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #7b7d7f;
}
.ui-bottom span{
  color: #ff8534;
}