.ui-shoptop{
    background: #fff;
    height: 35px;
}
.ui-shoptop ul{
    height: 35px;
    border-bottom:1px solid #d6d6d6 ;
}
.ui-shoptop ul li{
    float: left;
    line-height: 35px;
    font-size: 14px;
    width: 80px;
    text-align: center;
}
.ui-shoptop ul li a{
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #656464;
    height: 34px;
}
.ui-shoptop ul li a.active{
    color: #6fb02f;
    border-bottom: 1px solid #6fb02f;
}
.p{
    text-align: center;
    color: #656464;
    width: 100%;
    font-size: 16px;
    padding-top: 50px;
}
.span{
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    color: #b5b4b4;
}
.go{
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    background: #fff;
    color: #6fb02f;
    border: 1px solid #6fb02f;
    border-radius: 5px;
    margin: 0 auto;
    line-height: 30px;
}