.ui-shoptop{
    background: #fff;
    height: 35px;
}
.ui-shoptop ul{
    height: 35px;
    border-bottom:1px solid #d6d6d6 ;
}
.ui-shoptop ul li{
    float: left;
    line-height: 35px;
    font-size: 14px;
    width: 80px;
    text-align: center;
}
.ui-shoptop ul li a{
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #656464;
    height: 34px;
}
.ui-shoptop ul li a.active{
    color: #6fb02f;
    border-bottom: 1px solid #6fb02f;
}
.ui-list{
    border-top: 1px solid #d6d6d6;
    margin-top: 10px;
    background: #fff;
}
.ui-list dl dt{
    line-height: 35px;
    border-bottom: 1px solid #d6d6d6;
}
.ui-list dl dt span{
    display: block;
    float: left;
    font-size: 14px;
    text-indent: 10px;
    color: #656464;

}
.ui-list dl dt i{
    display: block;
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color:#f1590d;
    font-style: normal;

}
.ui-list dl dd{
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
}
.ui-list dl dd strong{
    display: block;
    width: 20px;
    height: 20px;
    background: none;
    border: 1px solid #ccc !important;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 50%;
}
.ui-list dl dd strong.sele{
    background: url("../../image/btn_select@2x.png") no-repeat;
    background-size: 20px 20px;
    border:1px solid #6fb02f !important;
 }
.ui-list dl dd strong.dele{
    background: none;
    border: 1px solid red !important;
}
.ui-list dl dd img{
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 10px;
}
.ui-list dl dd p{
    width:210px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
    display: block;
    float: left;
    color: #444444;
}
.ui-list dl dd .des{
    line-height: 30px;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    color: #656464;
}
.fh{
    float: right;
    display: block;
}
.ui-list dl dd .des i,.ui-list dl dd .des span{
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 14px;
    float: right;

}
.ui-list dl dd .des span{
    text-align: right;
    width: 100%;
}
.ui-list dl dd .des .add{
    display: none;
}
.ui-list dl dd .des .add .jian,.ui-list dl dd .des .add .num,.ui-list dl dd .des .add .jia{
    float: left;
    display: block;
    width: 20px;
    text-align: center;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
}
.ui-buy{
    height: 40px;
    line-height: 40px;
    background: #fff;
}
.ui-buy button{
    float: right;
    display: block;
    width: 60px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
    margin-right: 10px;
    background: #6fb02f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}
.ui-buy .qx{
    float: left;
    margin-left: 10px;
    display: inline;
    font-size: 12px;
}
.ui-buy .money{
    display: inline;
    float: right;
    margin:0 5px;
    color: #86bb59; font-size: 14px;
}
.money1,.money2{
    font-size: 14px;
    float: right;
    color: #86bb59;
}
.money1{
    margin-right: 15px;
}
@media screen and (max-width : 320px){

    .ui-list dl dd img{
        display: block;
        width: 60px;
        height: 60px;
        float: left;
        margin-left: 10px;
    }
    .ui-list dl dd p{
        width: 120px;
        font-size: 14px;
        line-height: 30px;
        margin-left: 10px;
        display: block;
        float: left;
    }
    .ui-list dl dd .des{
        line-height: 30px;
        font-size: 14px;
        float: right;
        margin-right: 10px;
    }
}
/*
���ӵ�ַ
*/
.address{
    background: #fff;
    font-size: 14px;
    margin: 10px;
    line-height: 35px;
}
.address ul li{
    margin:0 10px;
    border-bottom: 1px solid #d5d5d5;
    padding:  10px;
}
.address ul li label{
    display: block;
    float: left;
    width: 80px;
}
.address ul li .ui-textaddress{
    display: block;
    height: 35px;
    padding: 0 5px;
    width: 230px;
    border: none;
}
.address ul li .ui-select{
    display: block;
    float: left;
    height: 35px;
    border: none;
    margin: 0 10px;
    padding-right: 10px;
}
.address ul li span{
    width: 65px;
    height: 35px;
    background: url("../../image/btn_noaddress@2x.png") no-repeat;
    background-size: 65px 35px;
    display: block;
    float: left;
}
.address ul li span.seaddress{
    width: 65px;
    height: 35px;
    background: url("../../image/btn_address@2x.png") no-repeat;
    background-size: 65px 35px;
    display: block;
    float: left;
}
@media screen and (max-width : 320px) {
    .evaluate .describe{
        float: left;
        width: 05px;
        color: #656464;
    }
    .address ul li .ui-text{
        display: block;
        height: 35px;
        padding: 0 5px;
        width: 180px;
        border: none;
    }
    .address ul li .ui-select{
        display: block;
        float: left;
        height: 35px;
        border: none;
        margin: 0 5px;
        padding-right: 5px;
    }
}
.address ul p{
    color: #b4b4b4;
    font-size: 12px;
    padding: 10px;
    padding-bottom: 50px;
}
.ui-sub{
    width: 96%;
    height:45px;
    border: none;
    background: #6fb02f;
    color: #fff;
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 5px;
}
.addAddress{
    display: none;
    position: fixed;
    top: 50px;
    width: 100%;

}
.yy{
    display: none;
    position: absolute;
    top: 0;
    background: #000;
    height: 100%;opacity: 0.8;
    width: 100%;
}


.evaluate{
    border-bottom: 1px solid #ccc;
}
.evaluate img{
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.evaluate .word{
    line-height: 25px;
    padding: 5px 0;
    color: #656464;
}
.evaluate .describe{
    float: left;
    width: 285px;color: #656464;
}
.evaluate i{
    display: block;
    font-style: normal;
    padding-top: 5px;
}
.evaluate span{
    display: block;
}
.title{
    background: #fff;
    width: 100%;
    color: #000;
    display: block;
}
.title ul{
    display: -moz-box;
    display: -webkit-box;
    display: box;
    padding: 10px 0;

}
.title ul li{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    font-size: 14px;
    width: 100px;
    text-align: center;
    border-right: 1px solid #ccc;
    line-height: 15px;
}
.title ul li a{
    display: block;
    color: #444444;
}
.title ul li i{
    display: block;
    margin: 0 auto;
    font-style: normal;
}

@media screen and (max-width : 320px) {
    .evaluate .describe {
        float: left;
        width:230px;
        color: #656464;
    }
}


@media screen and (min-width : 321px) and (max-width :375px) {
    .ui-list dl dd p{
        width:170px;
        font-size: 14px;
        line-height: 30px;
        margin-left: 10px;
        display: block;
        float: left;
        color: #444444;
    }
}