
.ui-main dl{
  position: relative;
  margin:0 auto;
  width: 98%;
}

.ui-main dl dd{
  background: #fff;
  margin-bottom: 15px;
  padding: 2%;
}
.ui-main dl dd img{
  display: block;
  width:100%;
  margin: 0 auto;

}
.ui-main dl dd h4{
  display: block;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color:#000
}
.ui-main dl dd p{
  color: #b5b4b4;
  font-size: 12px;
  line-height: 20px;

}
.ui-main dl dd a{
  text-decoration: none;
}
