.ui-main{
  padding:0 5px;
}
.ui-main ul li{
  padding: 10px 0;
  border-bottom: 1px solid #ededed
}
.ui-main ul li label{
  font-size: 14px;
  width: 80px;
  display: block;
  float: left;
}

.ui-main ul li .text{
  border: none;
  font-size: 12px;
  min-width: 220px
}
.ui-main ul li select{
  display: block;
  float: left;
  margin-right: 15px;
  font-size: 12px
}
.ui-main ul li span{
  display: block;
  float: left;
  font-size: 12px;
  color: #504a45
}
.check{
  width: 30px;
  height: 20px;
  float: right;
  border-radius: 10px;
  background: red;
}
.check u{
  display: block;
  width: 18px; 
  height: 18px;
  background: #fff;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin-left: 1px;
  margin-top: 1px
}
.check.ok{
  background: green;
}
.check.ok u{
  background: #fff;
  float: right;
  margin-right: 1px;
  margin-top: 1px
}
.btn-save{
  width: 98%;
  height: 40px;
  line-height: 40px;
  background: #b45c0f;
  border-radius: 5px;
  margin: 30px auto 0 auto;
  display: block;
  border: none;
  color: #fff
}