.ui-main{
  
}
.ui-main dl dt{
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #dedede;
  margin:0 5px;
}
.ui-main dl dt span{
  width: 30px;
  height: 30px;
  display: block;
  background: url("../img/btn_xzzffs@2x.png") no-repeat;
  background-size: cover;
  float: left;
  margin-top: 10px;
  margin-right: 5px
}
.ui-main dl dd{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  padding-left: 65px;
  margin:0 5px;
}
.ui-main dl dd.money{
  height: 40px;
  background: #ededed;
  margin: 90px auto 0 auto;
  border: none;
  padding-left: 10px;
  line-height: 40px
}
.ui-main dl dd.money u{
  text-decoration: none;
  color: #e66900;
  font-size: 18px
}
.ui-main dl dd.money a{
  width: 80px;
  height: 30px;
  line-height: 30px;
  display: block;
  float: right;
  background: #dededd;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: normal;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
}
.ui-main dl dd span{
  width: 60px;
  height: 70px;
  display: block;
  background: url("../img/btn_zfb@2x.png") #fff no-repeat;
  background-size: 50px 50px;
  position: absolute;
  left: 0;
  top: 10px
}

.ui-main dl dd span.wx{
  background: url("../img/btn_wx@2x.png") #fff no-repeat; 
  background-size: 50px 50px;
}
.ui-main dl dd .radio{
  float: right;
  display: block;
  margin-right: 5px;
  margin-top: 22px
}
.sub{
  background: url("../img/btn_qd@2x.png") no-repeat;
  background-size: 100% 40px;
  width: 98%;
  height: 40px;
  margin:30px auto 0 auto;
  color: #fff;
  display: block;
  border: none 
}

