.ui-main{
  padding:0 5px;
}
.ui-main .title{
  font-size: 14px;
  line-height: 25px
}
.ui-main .dj strong{
 color: red;
 display: block;
 float: left;
}
.ui-main .dj del{
 color: #000;
 display: block;
 float: left;
 font-size: 12px;
 padding-left: 15px;
 padding-top: 5px
}
.bodb{
  border-bottom: 1px solid #ddd;
  padding-bottom:10px
}
.ui-main .num{
  padding-top: 10px
}
.ui-main .num p{
  width: 80px;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 20px
}
.ui-main .num span{
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 12px
}
.ui-main .num span.jia,.ui-main .num span.jian{
  border: 1px solid #ddd;
  margin-left: 10px;
  font-size: 16px;
}
.ui-main .num span.sz{
  border: 1px solid #ddd;
  margin-left: 10px;
  width: 30px
}
.ui-main .num span.leave{
  display: block;
  float: right;
  width: auto;
  font-size: 14px
}
.ui-main .des,.ui-main .totle{
  line-height: 30px;
  padding-top: 10px
}
.ui-main .des span,.ui-main .totle span{
  display: block;
  float: left;
  font-size: 14px;
}
.ui-main .des p,.ui-main .totle p{
  display: block;
  float: left;
  font-size: 14px;
  padding-left: 15px
}
.ui-main .logo{
  margin-top: 25px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px
}
.ui-main .logo span{
  width: 30px;
  height: 30px; 
  display: block;
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
  float: left;
}
.ui-main .logo p{
  float: left;
  display: block;
  margin-left: 10px
}
.ui-main .logo p strong{
  font-size: 14px ;
  display: block;
  line-height: 15px

}
.ui-main .logo p u{
  font-size: 12px;
  display: block;
  text-decoration: none;
  line-height: 15px
}
.ui-main .totle p{
  color: red
}
.ui-btn{
  width: 100%;
  background: url("../img/btn_ljzf@2x.png") no-repeat;
  height: 45px;
  background-size: 100% 45px;
  margin: 40px auto 0 auto;
  border: none;
  display: block;
  text-indent: 20px;
  color: #fff
}